<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <servlet>
    <servlet-name>textFromWebUrlParserServiceImpl</servlet-name>
    <servlet-class>de.trundicho.warp.reader.server.TextFromWebUrlParserServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>textFromWebUrlParserServiceImpl</servlet-name>
    <url-pattern>/warpreaderweb/parseTextFromWebsite</url-pattern>
  </servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>WarpReaderWeb.html</welcome-file>
  </welcome-file-list>

</web-app>
